In [6]:
#Create a tuple called data with two values, (1, 2) and (3, 4)

data = ((1,2),(3,4))
print(type(data))

<class 'tuple'>

In [25]:
#Create the list [4, 3, 2, 1] and assign it to variable numbers

l1=[4, 3, 2, 1]
numbers=l1
print(numbers)
print(type(numbers))

[4, 3, 2, 1]
<class 'list'>

In [26]:
#Create a copy of the number list using [:]

numberscopy=numbers[:]
print(numberscopy)

[4, 3, 2, 1]

In [27]:
#Sort the numbers list in numerical order

numbers.sort()
print(numbers)

[1, 2, 3, 4]

In [3]:
#Create a tuple "cardinal_numbers" with "first", "second" and "third"

cardinal_numbers=("first","second","third")
print(type(cardinal_numbers))

<class 'tuple'>

In [4]:
#Display the second object in the tuple

print(cardinal_numbers[1])

second

In [5]:
#Unpack the tuple into three strings and display them

one,two,three=cardinal_numbers
print(one, two, three)
print(type(one), type(two), type(three))

first second third
<class 'str'> <class 'str'> <class 'str'>

In [1]:
#Create a tuple containing the letters of your name from a string

str="raksha"
my_name=tuple(str)
print(my_name)
print(type(my_name))

('r', 'a', 'k', 's', 'h', 'a')
<class 'tuple'>

In [29]:
#Check whether or not x is in my_name

'x' in my_name

False

In [22]:
#Check whether or not s is in my_name

's' in my_name

True