## 2# markdown

### start basics (### write replace code with markdown)

#### again with 4#

##### 5#

In [8]:
#select -> A / B for insert above and below

In [1]:
print("Hello World!")

Hello World!

In [ ]:
#select -> x to delete cell

In [4]:
#print name
print("raksha panwar")

raksha panwar

In [5]:
print("shift+enter")

shift+enter

In [6]:
#datascience
print("ds")

ds

## variables

In [11]:
name="raks"
age=24

In [12]:
name
age

24

print(name)
print(age)

In [14]:
print(name,age)

raks 24

In [16]:
name="raks","panwar"
name

('raks', 'panwar')

## space isn't allowed

In [17]:
my name="raks","panwar"

SyntaxError: invalid syntax (113702940.py, line 1)

## digits an't be in start

In [18]:
2name="raks","panwar"

SyntaxError: invalid decimal literal (1952479245.py, line 1)

In [20]:
my2names="raks","panwar"
my2names

('raks', 'panwar')

## only underscore is allowed

In [21]:
my2+names="raks","panwar"
my2+names

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2312616300.py, line 1)

In [22]:
my_2names="raks","panwar"
my_2names

('raks', 'panwar')

In [23]:
my_2names="raks""panwar"
my_2names

'rakspanwar'

In [24]:
my_2names="raks" "panwar"
my_2names

'rakspanwar'

## name before latest

In [26]:
name="ram"
name="sita"
name

'sita'

## multiple assignments

In [27]:
x=y=z=15
print(x)

15

In [28]:
x=1,y=2,z=3
print(x)
print(y)
print(z)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3076561461.py, line 1)

## assign different values

In [30]:
x,y,z=1,2,3
print(x)
print(y)
print(z)

1
2
3

## datatype of variable

In [31]:
type(x)

int

In [32]:
type(name)

str

In [34]:
type(my_2names)

str

In [35]:
type(10.5)

float

In [38]:
type(True)

bool

### python is case-sensitive

In [39]:
type(Name)

NameError: name 'Name' is not defined

## implicit type conversion

In [2]:
r=10/5
r

2.0

## explicit type conversion

In [4]:
res=int(10/5)
res

2

In [8]:
x="st1"
y='st2'
z=x+y
z

'st1st2'

In [9]:
x="10.4"
y='5.2'
z=x+y
z

'10.45.2'

## different data types won't catenate

In [6]:
x="10"
y=5.3
z=x+y
z

TypeError: can only concatenate str (not "float") to str

In [10]:
x="10"
y=str(5.3)
z=x+y
z

'105.3'

In [11]:
x="10.7"
y=str(5.3)
z=x+y
z

'10.75.3'

## explicit conversion can be done

In [7]:
x=int("10")
y=5.3
z=x+y
z

15.3

In [13]:
x=int("hi")
x

ValueError: invalid literal for int() with base 10: 'hi'

In [14]:
x=float("hi")
x

ValueError: could not convert string to float: 'hi'